[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EGRET"]
	path = EGRET
	url = https://github.com/doi-usgs/egret
[submodule "EGRETci"]
	path = EGRETci
	url = https://github.com/doi-usgs/egretci
[submodule "dataRetrieval"]
	path = dataRetrieval
	url = https://github.com/doi-usgs/dataretrieval
[submodule "geoknife"]
	path = geoknife
	url = https://github.com/doi-usgs/geoknife
[submodule "hydroloom"]
	path = hydroloom
	url = https://github.com/doi-usgs/hydroloom
[submodule "ncdfgeom"]
	path = ncdfgeom
	url = https://github.com/doi-usgs/ncdfgeom
[submodule "nhdplusTools"]
	path = nhdplusTools
	url = https://github.com/doi-usgs/nhdplustools
[submodule "sbtools"]
	path = sbtools
	url = https://github.com/doi-usgs/sbtools
[submodule "toxEval"]
	path = toxEval
	url = https://github.com/doi-usgs/toxeval
