[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dataRetrieval"]
	path = dataRetrieval
	url = https://github.com/doi-usgs/dataretrieval
	shallow = true
	registered = true
